@{
    ViewBag.Title = "All Tweets";
}
@using Twitter.App.Models.ViewModels
@using Twitter.App.HtmlHelpers
@model IEnumerable<TweetIndexViewModel>

@foreach (var tweet in Model){
    <div class="row">
        <div class="col-md-12 thumbnail">
            <div class="caption">
                <h2>@Html.ActionLink(tweet.Username, "profile", "Home", new { id = tweet.UserId }, htmlAttributes: null)</h2>
                <h3>@tweet.SendOn</h3>
                <p>@tweet.Content</p>
                @Html.ActionLink("Favourite", "makeFavourite", "Tweets", new { id = tweet.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Retweet", "retweet", "Tweets", new { id = tweet.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Report", "report", "Tweets", new { id = tweet.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Reply", "reply", "Tweets", new { id = tweet.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Share", "share", "Tweets", new { id = tweet.Id }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
@Html.Pagination((int)ViewBag.page, (int)ViewBag.pagesCount, "Index", "Home", "id")
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12 thumbnail">
            @using (Html.BeginForm("post", "Tweets", FormMethod.Post))
            {
                @Html.TextArea("content");
                <input class="btn btn-success" type="submit" value="tweet" />
            }
        </div>
    </div>
}